{% extends "base.html.twig" %}

{% block title %}Birks Sida | MVC | api{% endblock %}

{% block body %}
<main class="main">
    <div class="jsonRoutes">
        <p>
            Dessa är de JSON-routes som finns tillgängliga.
        </p>
        <ul class="apiList">
            <li> <a href="{{ path('api') }}">/api</a> - Denna sida.</li>
            <li> <a href="{{ path('api_quote') }}">/api/quote</a> - Få ett slumpmässigt citat.</li>
            <li> <a href="{{ path('api_session') }}">/api/session</a> - Få information om sessionen.</li>
            <li> <a href="{{ path('api_destroy') }}">/api/destroy</a> - Förinta sessionen.</li>
            <li> <a href="{{ path('api_deck') }}">/api/deck</a> - Visa upp en kortlek.</li>
            <li> <a href="{{ path('api_shuffle') }}">/api/shuffle</a> - Shuffle the deck.</li>
            <li> <a href="{{ path('api_reset') }}">/api/reset</a> - Reset the deck to normal.</li>
            <li> <a href="{{ path('api_draw') }}">/api/deck/draw</a> - Draw one card from the deck.</li>
            <li> <a href="{{ path('api_drawnum') }}">/api/deck/draw/{number}</a> - Draw {number} of cards from the deck</li>
        </ul>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <hr>
        <p>Symfonys samling av alla routes, ifall listan är ofullständig</p>
        <ul class="apiList">
        {% for route in routes %}
            {% if "api" in route.path %}
           <li>{{ route.path }} - <a href="{{ route.path }}">route</a></li>
           {% endif %}
        {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}