{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}

<main>
    <div class="libraryContainer">
        <div class="librarySubContainer">
            {% set count = 0 %}
            {% for book in library %}
                <div class="bookDiv">
                    {% if book.getImgName %}
                    <figure>
                        <image src="{{ asset('img/' ~ book.getImgName)}}" class="bookImage" alt= {{book.getTitle }}>
                        <figcaption class="bookFigCaption">
                            <a href="{{ path('libraryUpdateView') ~ "?id=" ~ book.getId}} ">{{book.getTitle }} ({{ book.getIsbn}})</a>
                            <br>
                            -- {{ book.getAuthor }}
                        </figcaption>
                    </figure>
                    {% else %}
                        <a href="{{ path('libraryUpdateView') ~ "?id=" ~ book.getId}} ">{{book.getTitle }} ({{ book.getIsbn}})</a>
                    {% endif %}
                </div>
                {% set count = count + 1 %}
                {% if count is divisible by(3) and count != 1 %}
                    <br>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}
